/*HEADER*/
.header {
    position: relative;
    background: #CAEBF2;
    margin: 0;
    height: 100px;
    width: 100%;
}

.header h1 {
    position: relative;
    margin: 0;
    line-height: 100px;
    text-align: center;
    font-size: 26px;
}

#menuicon {
    position: absolute;
    float: left;
    margin-top: -60px;
    margin-left: 10px;
}

/*BODY*/
body {
    background: white;
}


#spainList {
    display: none;
}

#futureList {
    display: none;
}

/*LISTS*/
.taskList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.taskList li{
    font-size: 1.3em;
    padding: 1em 1em 0.5em 10%;
    border-bottom: solid 1px lightgrey;
}

.taskList li:hover {
    background: lightgrey;
}

textarea {
    display: none;
    height: 50px;
    width: 71%;
    border: none;
    padding: none;
    margin-left: 14.5%;
    font-size: 1.3em;
    line-height: 50px;
    float: left;
}

/*MENU*/
.menu {
    position: absolute;
    top: 0;
    padding: 0;
    width: 65%;
    height: 100%;/*567px*/
    padding: none;
    opacity: 1;
    box-shadow: 3px 3px 7px grey;
    background-color: #F2F2F2;
}

.menuHeading {
    margin: 0;
    line-height: 100px;
    bottom: 0;
    height: 100px;
    font-size: 24px;
    padding-left: 10%;
    background: #5DB5C8;
    color: white;
}

.menuList {
    padding: 0;
    margin: 0;
}

.menuList li{
    padding-left: 10%;
    line-height: 60px;
    text-align: left;
    font-size: 18px;
    list-style-type: none;

    background: rgb(249,249,249); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(229,229,229,1) 92%, rgba(224,224,224,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(229,229,229,1) 92%,rgba(224,224,224,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(229,229,229,1) 92%,rgba(224,224,224,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
}

#closeMenuBtn {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 20px;
    color: black;
    font-size: 20px;
}


/*BUTTONS*/
.button {
    width: 40px;
    height: 40px;
    position: absolute;
    right:    10px;
    bottom:   10px;
    border: none;
    padding: none;
    cursor: pointer;
}


.button:focus {
  outline: none;
}


.delete {
    position: absolute;

    right: 1em;
    background: none;
    color: grey;
    border: none;
    line-height: 0.5em;
}

#newListBtn {
    padding-left: 10%;
    line-height: 60px;
    text-align: left;
    font-size: 20px;
    border-bottom: solid 1px grey;
}

#newListText {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 18px;
} 

label {
    font-weight: normal;
}

